@mixin button {
    justify-content: center;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    background-color: rgb(17 221 116);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    cursor: pointer;

    &:hover, &.isSelected {
        background: rgb(17 204 116)
    }
}

.sendToAnyone-popup {
    width: 16rem;
    justify-content: center;
    border-radius: 0.375rem;
    border-color: #000;
    padding: 0.75rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background: #fff;
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    > div {
        display: flex;
        //min-height: 292px;
        flex-direction: column;

        > main {
            flex-grow: 1;
            font-family: 'Segoe UI', sans-serif;

            > button {
                @include button;
                width: 100%;
                color: #fff;

            }
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        font-family: 'Segoe UI', sans-serif;

        &.noH1 {
            justify-content: end;
        }

        h1 {
            color: rgb(17 24 39);
            line-height: 1.5rem;
            font-weight: 500;
            font-size: 1.125rem;
            margin: 0;
        }
    }
    .closeButton {
            align-self: center;
            cursor: pointer;
        }

    .assetTypeSelection {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        button, .more {
            @include button;
            cursor: pointer;
            background-color: rgb(220 252 231);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

        }

        .more {
            width: 27px;
            align-items: center;

            span {
                display: none;
            }

            input {
                display: none;
            }

            &.isSelected {
                display: flex;

                img {
                    display: none;
                }

                span {
                    display: block;
                    flex: 0 0 auto;
                }

                input {
                    display: block;
                    flex: 1 1 auto;
                    background: transparent;
                    border: none;
                    width: 25px;
                    font-family: inherit;
                    font-size: inherit;
                    margin-right: -10px;
                    padding: 0;
                    line-height: 1;
                    height: 1em;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .valueSelection {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        button, .more {
            @include button;
            cursor: pointer;
            background-color: rgb(220 252 231);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

        }

        .more {
            width: 27px;
            align-items: center;

            span {
                display: none;
            }

            input {
                display: none;
            }

            &.isSelected {
                display: flex;

                img {
                    display: none;
                }

                span {
                    display: block;
                    flex: 0 0 auto;
                }

                input {
                    display: block;
                    flex: 1 1 auto;
                    background: transparent;
                    border: none;
                    width: 25px;
                    font-family: inherit;
                    font-size: inherit;
                    margin-right: -10px;
                    padding: 0;
                    line-height: 1;
                    height: 1em;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .loader {
        margin-left: auto;
        margin-right: auto;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 10px solid rgb(229 231 235);
        border-top-color: #11dd74;
        animation: spin 1s infinite linear;
    }

    .success {
        width: 7rem;
        height: 7rem;
        margin: 0 auto auto;
        display: block;
    }

    .tooltip {
        display: none;
        position: absolute;
        width: 80px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0px 5px;
        margin: 0.5rem auto auto auto;
        font-size: 0.875rem;
        line-height: 1.25rem;
        left: 0;
        right: 0;
    }

    .urlWrap {
        word-wrap: break-word;
    }

    .textWrap {
        height: 3.75rem;
        max-width: 16rem;
        padding: 0.25rem;
        align-content: center;
        border-radius: 0.375rem;
        border-width: 1px;
        border-color: #D1D5DB;
        border-style: solid;
        overflow-y: scroll;
        margin-bottom: 0.75rem;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.2);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, 0.4);
        }

        &::-webkit-scrollbar-thumb:active {
            background: rgba(0, 0, 0, .9);
        }
    }

    .textWrap:hover {
        cursor: pointer;
    }


    .select-wrapper {
        margin-top: 0.25rem;

        label {
            color: rgb(107 114 128);
            font-size: 0.875rem;
            line-height: 1.25rem;

        }

        .input-wrapper {
            display: flex;
            margin-top: 0.25rem;
            justify-content: space-between;

            input {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                background-color: #ffffff;
                color: #000000;
                color: #9CA3AF;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: #D1D5DB;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            }
        }

        .select {
            margin-top: 0.25rem;
            position: relative;

            > button {
                line-height: inherit;
                color: inherit;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                width: 100%;
                cursor: default;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: rgb(209 213 219);
                border-style: solid;
                background-color: rgb(255 255 255);
                padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                text-align: left;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
                display: flex;
                align-items: center;

                &:focus {

                    border-color: rgb(99 102 241 / var(--tw-border-opacity));
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    box-shadow: 0px 0px 0px 1px rgb(99, 102, 241), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

                }
            }

            img {
                border-radius: 9999px;
                flex-shrink: 0;
                width: 1.5rem;
                height: 1.5rem;
            }

            .name {

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                margin-left: 0.75rem;
                flex: 1 1 auto;
            }

            .amountOwned {
                display: block;
                color: #6B7280;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }

            .arrow {
                top: 0px;
                bottom: 0px;
                right: 0px;
                margin-left: 0.75rem;
                display: flex;
                align-items: center;
                padding-right: 0.5rem;

            }

            > ul {
                list-style: none;
                position: absolute;
                z-index: 10;
                margin: 0.25rem 0 0;
                max-height: 14rem;
                display: none;
                width: 100%;
                overflow: auto;
                border-radius: 0.375rem;
                background: #fff;
                padding: 0.25rem 0;
                font-size: 1rem;
                line-height: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

                li {
                    display: flex;
                    align-items: center;
                    color: rgb(17 24 39);
                    padding: 0.5rem 2.25rem 0.5rem 0.75rem;
                    user-select: none;
                    cursor: default;
                }
            }

            &.isOpen, &:focus-within {
                > ul {
                    display: block;
                }
            }
        }

        .imagePreview {
                margin: 0.75rem;
                width: 90%;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: #d1d5db;
                border-style: solid;
                display: flex;
            }
    }

    .toggleMessageBox {
        color: rgb(107 114 128);
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: right;
        display: block;
        margin: 0.75rem 0 0.75rem 0.25rem;
        cursor: pointer;

        strong {
            text-decoration-line: underline;
            font-weight: inherit;
        }
    }

    .next {
        min-height: 42px;
        }

    .spinnerWrapper {
        display: flex;
        margin-left: 0.25rem;
        justify-content: center;
        align-items: center;

        .spinner {
            display: inline-block;
            animation: spin 1s linear infinite;

            @keyframes spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            };
            width: 1.25rem;
            height: 1.25rem;
            border-style: solid;
            border-radius: 9999px;
            border-width: 2px;
            border-color: #ffffff;

            .spinnerDot {
                color: #000000;
                font-size: 1.25rem;
                line-height: 2.5rem;
            }
        }

        .spinnerEnd {
            margin-left: 0.25rem;
            color: #ffffff;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 500;

            @media (min-width: 640px) {
              font-size: 0.875rem;
            line-height: 1.25rem;
             }
        }
    }

    .messageBox {
        margin-top: .75rem;
        margin-bottom: .5rem;

        &.isHidden {
            display: none;
        }

        textarea {
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            font-family: 'Segoe UI', sans-serif;

            color: rgb(55 65 81);
            line-height: 1.25;
            padding: 0.5rem 0.75rem;
            border-color: rgb(209 213 219);
            border-width: 1px;
            border-radius: 0.375rem;
            -webkit-appearance: none;
            appearance: none;
            resize: none;
            width: 100%;
            height: 4rem;
            box-sizing: border-box;

            &:focus {
                border-color: rgb(99, 102, 241);
            }
        }
    }

    h2 {
        text-align: center;
        margin: 2rem 0 0;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39)
    }

    .h2Success {
        text-align: center;
        margin: 1rem 0 0.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39)
    }

    .viewExplorer {
        display: flex;
        justify-content: center;
    }

    .closeButtonWrapper {
        justify-content: space-between;
        display: flex;
    }

    .errorTitle {
        margin: 1rem auto 0.5rem;
    }

    .errorInput {
        display: none;
        margin-top: -0.75rem;
        color: #EF4444;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .errorNFT {
        display: none;
        color: #EF4444;
        font-weight: 500;
        font-size: 0.75rem;
    }

    p {
        text-align: center;
        color: rgb(107 114 128);
        line-height: 1.5rem;
        margin: 0.25rem 0 0.5rem;
        font-size: 0.75rem;
        font-weight: 500;

        strong {
            color: rgb(17 221 116);
        }
    }

    .subtitle {

        line-height: 1.5rem;
        font-weight: 400;
        font-size: 1.125rem;
        color: rgb(17 24 39);
        margin: 0.25rem 0 0;

        .linkIcon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.2rem;
        }

        .twitterIcon {
            width: 1rem;
            margin-top: 0.25rem;
            margin-left: 0.25rem;
            display: none;
        }

        .twitterWrap {
            display: inline-flex;
            justify-content: center;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    footer {

        button {
            @include button;
            width: 100%;
            color: #fff;
        }

        .link {

            font-weight: 500;
            line-height: 1.5rem;
            color: rgb(88 101 242);
            font-size: 0.75rem;
            margin: 0.25rem 0 0;
        }
    }
}

.multiSendToAnyone-popup {


    // come here
    padding: 0.75rem;
    margin: auto;
    margin-top: 2.5rem;
    justify-content: center;
    width: 24rem;
    border-width: 1px;
    border-radius: 0.375rem;
    border-color: #000000;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background: #fff;

    .subtitle {

        line-height: 1.5rem;
        font-weight: 400;
        font-size: 1.125rem;
        color: rgb(17 24 39);
        margin: 0.25rem 0 0;

        .linkIcon {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: 0.2rem;
        }

        .twitterIcon {
            width: 1rem;
            margin-top: 0.25rem;
            margin-left: 0.25rem;
            display: none;
        }

        .twitterWrap {
            display: inline-flex;
            justify-content: center;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    header {

        display: flex;
        justify-content: space-between;
        align-items: center;

        &.noH1 {
            justify-content: end;
        }

        h1 {
            color: #111827;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 500;
            line-height: 1.5rem;
        }

        .multiSlider {
            align-self: center;

            &:hover {
                cursor: pointer;
            }

            div {
                text-align: right;

                label {

                    display: inline-flex;
                    position: relative;
                    margin-top: 0.75rem;
                    align-items: center;
                    cursor: pointer;

                    .slider {
                        background-color: #E5E7EB;
                        height: 1.25rem;
                        width: 2.25rem;
                        border-radius: 9999px;

                        &:after {
                            content: "";
                            position: absolute;
                            background-color: #ffffff;
                            transition-property: all;
                            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                            transition-duration: 150ms;
                            width: 1rem;
                            height: 1rem;
                            border: solid;
                            box-sizing: border-box;
                            border-radius: 9999px;
                            border-width: 1px;
                            border-color: #D1D5DB;
                            top: 2px;
                            left: 2px;
                        }
                    }


                    input {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        padding: 0;
                        margin: -1px;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        white-space: nowrap;
                        border-width: 0;

                        &:focus + .slider {
                            outline: 0;
                        }

                        &:checked + .slider {
                            background: #5865F2;

                            &:after {
                                transform: translateX(100%);

                                border-color: #ffffff;
                            }
                        }
                    }

                    span {
                        margin-left: 0.75rem;
                        color: #6B7280;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                    }


                }
            }
        }
    }

    .select-wrapper {
        margin-top: 0.5rem;

        label {
            color: #6B7280;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        .input-wrapper {
            display: flex;
            margin-top: 0.25rem;
            justify-content: space-between;

            input {
                margin-top: 0rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                background-color: #ffffff;
                color: #000000;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: #D1D5DB;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

                &:focus {
                    border-color: #6366F1;
                    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                    --ring-color: #6366F1;
                    outline: 0;
                }

                &:placeholder {
                    color: #9CA3AF;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }
            }
        }

        .recipients-wrapper {
            display: flex;
            margin-top: 0.25rem;

            textarea {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                color: #374151;
                line-height: 1.25;
                width: 100%;
                height: 11rem;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: #D1D5DB;
                appearance: none;
                resize: none;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

                 &:focus {
                    border-color: #6366F1;
                    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                    --ring-color: #6366F1;
                    outline: 0;
                }

                &:placeholder {
                    color: #9CA3AF;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }

            }
        }

        .select {
            margin-top: 0.25rem;
            position: relative;

            > button {
                line-height: inherit;
                color: inherit;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                width: 100%;
                cursor: default;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: rgb(209 213 219);
                border-style: solid;
                background-color: rgb(255 255 255);
                padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                text-align: left;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
                display: flex;
                align-items: center;

                &:focus {

                    border-color: rgb(99 102 241 / var(--tw-border-opacity));
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    box-shadow: 0px 0px 0px 1px rgb(99, 102, 241), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

                }
            }

            img {
                border-radius: 9999px;
                flex-shrink: 0;
                width: 1.5rem;
                height: 1.5rem;
            }

            .name {

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                margin-left: 0.75rem;
                flex: 1 1 auto;
            }

            .amountOwned {
                display: block;
                color: #6B7280;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }

            .arrow {
                top: 0px;
                bottom: 0px;
                right: 0px;
                margin-left: 0.75rem;
                display: flex;
                align-items: center;
                padding-right: 0.5rem;

            }

            > ul {
                list-style: none;
                position: absolute;
                z-index: 10;
                margin: 0.25rem 0 0;
                max-height: 14rem;
                display: none;
                width: 100%;
                overflow: auto;
                border-radius: 0.375rem;
                background: #fff;
                padding: 0.25rem 0;
                font-size: 1rem;
                line-height: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

                li {
                    display: flex;
                    align-items: center;
                    color: rgb(17 24 39);
                    padding: 0.5rem 2.25rem 0.5rem 0.75rem;
                    user-select: none;
                    cursor: default;
                }
            }

            &.isOpen, &:focus-within {
                > ul {
                    display: block;
                }
            }
        }
    }

    .unique-recipients-wrapper {
        display: block;
        visibility: hidden;
        margin-top: 0;
        margin-left: 0.25rem;
        margin-bottom: 1rem;
        text-align: right;
        color: rgb(107 114 128);
        line-height: 1.25rem;
        margin: 0 0.1rem 0 0.5rem;
        font-size: 0.75rem;
        font-weight: 400;

        a {

            &:hover {
             cursor: pointer;
             }
        }
    }

    .nft-mint-wrapper {
        display: block;
        margin-top: 0;
        margin-left: 0.25rem;
        margin-bottom: 1rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: right;

        a {
            text-decoration: underline;
            display: none;

            &:hover {
             cursor: pointer;
             }
        }
    }

    h2 {
        text-align: center;
        margin: 2rem 0 0;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39)
    }

    .h2Success {
        text-align: center;
        margin: 1rem 0 0.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39)
    }

    .errorTitle {
        margin: 1rem auto 0.5rem;
    }

    .loader {
        margin-left: auto;
        margin-right: auto;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 10px solid rgb(229 231 235);
        border-top-color: #11dd74;
        animation: spin 1s infinite linear;
    }

    .success {
        width: 7rem;
        height: 7rem;
        margin: 0 auto auto;
        display: block;
    }

    .viewExplorer {
        display: flex;
        justify-content: center;
        margin-bottom: 0.25rem;
    }

    .closeButtonWrapper {
        justify-content: space-between;
        display: flex;
    }

    .closeButton {
        align-self: center;
        cursor: pointer;
    }

    .errorInput {
        display: none;
        margin-top: -0.75rem;
        color: #EF4444;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .errorNFT {
        display: none;
        color: #EF4444;
        font-weight: 500;
        font-size: 0.75rem;
    }


    p {
        text-align: center;
        color: rgb(107 114 128);
        line-height: 1.5rem;
        margin: 0.25rem 0 0.5rem;
        font-size: 0.75rem;
        font-weight: 500;

        strong {
            color: rgb(17 221 116);
        }
    }


    footer {

        button {
            @include button;
            width: 100%;
            color: #fff;
        }

        .spinnerWrapper {
            display: flex;
            margin-left: 0.25rem;
            justify-content: center;
            align-items: center;

            .spinner {
                display: inline-block;
                animation: spin 1s linear infinite;

                @keyframes spin {
                  from {
                    transform: rotate(0deg);
                  }
                  to {
                    transform: rotate(360deg);
                  }
                };
                width: 1.25rem;
                height: 1.25rem;
                border-style: solid;
                border-radius: 9999px;
                border-width: 2px;
                border-color: #ffffff;

                .spinnerDot {
                    color: #000000;
                    font-size: 1.25rem;
                    line-height: 2.5rem;
                }
            }

            .spinnerEnd {
                margin-left: 0.25rem;
                color: #ffffff;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 500;

                @media (min-width: 640px) {
                  font-size: 0.875rem;
                line-height: 1.25rem;
                 }
            }
        }

        .link {

            font-weight: 500;
            line-height: 1.5rem;
            color: rgb(88 101 242);
            font-size: 0.75rem;
            margin: 0.25rem 0 0;
        }
    }
}


input[type="text"] {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:focus {
    border: 1px solid #a6a6a6;
}

input::placeholder {
    font-size: 12px;
}

.results {
    font-size: 14px !important;
    line-height: 20px !important;
    color: #000000 !important;
    border: 2px solid #E6E6E3 !important;
    border-radius: 4px !important;
    background-color: #d7d7d7 !important;
    z-index: 1000000 !important;
    background: #fff !important;
    display: none;

    > div {
        border-style: none none solid;
        border-width: 0px 0px 1px;
        border-color: #E6E6E3;
        padding-left: 8px;
        cursor: pointer;
        position: relative;

        &:hover {
            background: #E3E3E6;
        }
    }


    .type {
        font-weight: 600;
        display: inline;
        font-family: 'Segoe UI', sans-serif;
    }

    .key {
        display: inline;
        font-family: 'Segoe UI', sans-serif;
        color: #11dd74;
        font-weight: 600;

        &::before {
            content: ' ';
        }
    }

    .value {
        font-family: 'Segoe UI', sans-serif;
        font-size: 10px;
    }

    .img {
        position: absolute;
        top: 5px;
        right: 5px;
        max-width: 5%;
    }

    .empty {
        padding: 5px;
        height: 19px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, .9);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}